DirectoryIndex home.php

RewriteEngine on

RewriteRule ^home?$ home.php
RewriteRule ^about_us?$ about_us.php
RewriteRule ^login_s?$ login_s.php
RewriteRule ^forgot_check?$ forgot_check.php
RewriteRule ^forgot_s?$ forgot_s.php
RewriteRule ^logout?$ logout.php
RewriteRule ^register?$ register.php
RewriteRule ^institution_name?$ institution_name.php
RewriteRule ^student_name?$ student_name.php
RewriteRule ^register_student_s?$ register_student_s.php
RewriteRule ^register_institution_s?$ register_institution_s.php
RewriteRule ^sactivation?$ sactivation.php
RewriteRule ^iactivation?$ iactivation.php
RewriteRule ^cactivation?$ cactivation.php

RewriteRule ^research_area?$ research_area.php
RewriteRule ^research_area_stand_s?$ research_area_stand_s.php
RewriteRule ^research_area_other_s?$ research_area_other_s.php
RewriteRule ^research_guide?$ research_guide.php
RewriteRule ^research_guide_s?$ research_guide_s.php
RewriteRule ^research_guide_removeall_s?$ research_guide_removeall_s.php
RewriteRule ^research_lab?$ research_lab.php
RewriteRule ^research_lab_s?$ research_lab_s.php
RewriteRule ^research_lab_s_i?$ research_lab_s_i.php
RewriteRule ^research_scholar?$ research_scholar.php
RewriteRule ^research_scholar_s?$ research_scholar_s.php
RewriteRule ^research_scholar_s_excel?$ research_scholar_s_excel.php
RewriteRule ^institution_setting?$ institution_setting.php
RewriteRule ^institution_setting_s?$ institution_setting_s.php

RewriteRule ^student_activation?$ student_activation.php
RewriteRule ^student_activation_s?$ student_activation_s.php
RewriteRule ^send_mail?$ send_mail.php

RewriteRule ^student_personal?$ student_personal.php
RewriteRule ^student_personal_s?$ student_personal_s.php

RewriteRule ^student_academic?$ student_academic.php
RewriteRule ^student_academic_s?$ student_academic_s.php
RewriteRule ^student_academic_s_remove?$ student_academic_s_remove.php

RewriteRule ^student_patent?$ student_patent.php
RewriteRule ^student_patent_s?$ student_patent_s.php
RewriteRule ^student_patent_s_remove?$ student_patent_s_remove.php

RewriteRule ^student_publication?$ student_publication.php
RewriteRule ^student_publication_s?$ student_publication_s.php
RewriteRule ^student_publication_s_remove?$ student_publication_s_remove.php

RewriteRule ^student_thesis?$ student_thesis.php
RewriteRule ^student_thesis_s?$ student_thesis_s.php

RewriteRule ^student_setting?$ student_setting.php
RewriteRule ^student_setting_s?$ student_setting_s.php

RewriteRule ^student_jobs?$ student_jobs.php

RewriteRule ^admin?$ admin.php
RewriteRule ^admin_setting?$ admin_setting.php
RewriteRule ^admin_setting_s?$ admin_setting_s.php
RewriteRule ^admin_crawl?$ admin_crawl.php
RewriteRule ^admin_crawl_s?$ admin_crawl_s.php
RewriteRule ^admin_post?$ admin_post.php
RewriteRule ^admin_post_s?$ admin_post_s.php
RewriteRule ^admin_student?$ admin_student.php
